$primaryColor: #222256;
$secondaryColor: #5e5e73;

.main {
  min-width: 1024px;
  display: flex;
  overflow-y: hidden;
}

.locator {
  display: flex;
  flex: 1 1 auto;
  position: relative;
  padding: 0;

  .photo,
  .map {
    flex: 1 1 50%;
    box-sizing: border-box;
    border-left: 1px solid #ebebf3;
  }

  .map {
    position: relative;
  }

  .photo {
    display: flex;
  }
}

.panel {
  flex: 0 0 270px;
  padding: 0;
  z-index: 2;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);

  .panel-inner {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    position: relative;
    flex-direction: column;
    height: 100vh;
    box-sizing: border-box;
    background-color: #fff;

    .backButton {
      border: none;
      border-bottom: 1px solid #ebebf3;
    }

    h4 {
      color: $secondaryColor;
      margin-bottom: 0.75rem;

      &:first-of-type {
        margin-top: 0.5rem;
      }
    }

    .separator {
      margin-top: 1rem;
      height: 1px;
      width: 100%;
      border-top: 1px solid #ebebf3;
    }
  }
}
