$primaryColor: #222256;
$secondaryColor: #5e5e73;

.histjes-main {
  min-width: 1024px;
  display: flex;
  overflow-y: hidden;
}

.histjes-map {
  flex: 1 1 auto;
  position: relative;
  padding: 0;

  .history-slider {
    width: 700px;
    height: 44px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99;
    background-color: #fff;
    box-sizing: border-box;
    padding: 8px 8px 0 24px;
  }

  .reference-layer-picker {
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 99;

    .reference-layer-picker-inner {
      width: 500px;
      height: 300px;
    }
  }
}

.histjes-panel {
  flex: 0 0 330px;
  padding: 0;
  z-index: 2;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);

  .logo {
    display: flex;

    svg {
      height: 60px;
      width: 100%;
    }

    .logo_h1 {
      font-family: "Font", cursive;
      fill: $primaryColor;
    }

    .logo_h2 {
      font-size: 0.4rem;
      fill: $secondaryColor;
    }

    .back-arrow {
      fill: $secondaryColor;
    }
  }

  .back {
    position: absolute;
    top: 1rem;
    left: -1.75rem;
    height: 2.5rem;
    width: 9.5rem;
    background-color: #fff;
    border-radius: 0.5rem 0 0 0.5rem;
    padding: 0 0.25rem;
    box-sizing: border-box;
    display: flex;
    cursor: pointer;
    transition: all 250ms ease-in-out;
    align-items: center;

    span {
      margin-left: 0.25rem;
    }

    .back-arrow {
      height: 1.25rem;
      width: 1.25rem;

      .back-arrow-svg {
        flex: 1 1 auto;
        transition: fill 250ms ease-in-out;
        fill: $secondaryColor;
      }
    }

    &:hover {
      left: -9.5rem;

      .back-arrow-svg {
        fill: $primaryColor;
      }
    }
  }

  .layer-slider-wrapper {
    margin-left: 28px;
  }

  .histjes-panel-inner {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    position: relative;
    flex-direction: column;
    height: 100vh;
    box-sizing: border-box;
    background-color: #fff;

    .backButton {
      border: none;
      border-bottom: 1px solid #ebebf3;
    }

    .tab {
      padding: 0.5rem 1rem;
    }

    h4 {
      color: $secondaryColor;
      margin-bottom: 0.75rem;

      &:first-of-type {
        margin-top: 0.5rem;
      }
    }

    .checkbox-stack-inner {
      padding-left: 0.5rem;
      margin-left: 0.25rem;
    }

    .separator {
      margin-top: 1rem;
      height: 1px;
      width: 100%;
      border-top: 1px solid #ebebf3;
    }

    .copy {
      background-color: $primaryColor;
      color: #fff;
      font-size: 0.85rem;
      text-align: center;
      position: relative;

      .logo_h2 {
        margin-top: 1.25rem;
        margin-bottom: 0;
        font-family: "Font", cursive;
        font-weight: normal;
      }

      .logo_h1 {
        font-size: 2.25rem;
        font-family: "Font", cursive;
        font-weight: normal;
        margin-top: 0;
        margin-bottom: 1.25rem;
      }

      .logo_subtitle {
        position: absolute;
        font-size: 1rem;
        font-weight: bold;
        bottom: 5px;
        right: 33px;
        color: #9090c5;
        display: block;
      }
    }
  }

  .object-detail {
    padding: 0.5rem 1rem;

    &.empty {
      text-align: center;
      padding: 0 4rem;
      padding-top: 10rem;

      .icon {
        color: $primaryColor;
        font-size: 4rem;
        margin-bottom: 2rem;
      }
    }

    h2 {
      margin-top: 0;
      color: $primaryColor;
    }

    p {
      margin: 0 0.5rem;
      text-align: justify;
    }
  }
}
